# Local development (public IP)
# DB_HOST=35.214.22.65

# Cloud Run deployment (private IP via VPC connector)
DB_HOST=10.154.15.212
DB_PORT=5432
DB_NAME=asset_identification_scheme
DB_USER=postgres
DB_PASSWORD=your_password_here
API_KEY=your_api_key_here
